body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
    margin: 0;
    padding: 0;
}
em{
    font-style: normal;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
    vertical-align: top;
}
table{
    border-collapse: collapse;
}
input,textarea{
    outline: none;
}
textarea{
    resize: none;
    overflow: auto;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
}

/*public*/
.clear{zoom: 1}
.clear:after{content: '';display: block;clear: both }
.fl{float: left}
.fr{float: right}

.gradient{
    background:-webkit-linear-gradient(top,#FFFFFF,#f8f8f8);
    background:-moz-linear-gradient(top,#FFFFFF,#f8f8f8);
    background:-ms-linear-gradient(top,#FFFFFF,#f8f8f8);
    background:linear-gradient(top,#FFFFFF,#f8f8f8);
}


.triangle_up{width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;
    border-bottom: 4px solid #ca0309;}
.triangle_down_red{width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;
    border-top: 4px solid #ca0309;}
.triangle_down_gray{width: 0;height: 0;overflow: hidden;border-left: 4px solid transparent;border-right: 4px solid transparent;
    border-top: 4px solid #c4dbdb;}

body{margin-bottom: 30px;}
#header{
    width:960px;height: 30px;margin: 0 auto;border-radius:0 0 6px 6px;}
#nav{
    width: 960px;height: 100px;margin: 0 auto;position: relative;}
#search{
    width: 958px;height: 114px;margin: 0 auto 10px; border: 1px solid #dbdbdb;border-radius: 6px;position: relative;
}
.content{width: 960px;margin: 0 auto;}
.main{width: 710px;}
.section{
    width: 318px;padding:0 15px;border-radius: 6px;border: 1px solid #dbdbdb;
    margin-bottom: 10px;
}
.options{width: 350px;margin-bottom: 10px;}
.main_ad{border-radius: 6px;overflow: hidden;margin-bottom: 10px;}
.side{width: 240px;}
.side_section{
    border-radius: 6px;overflow: hidden;margin-bottom: 10px;border: 1px solid #dbdbdb;padding: 0 12px;}
.side_ad{border-radius: 6px;overflow: hidden;margin-bottom: 10px;}
.ad_border{width: 238px;height: 88px;border-radius: 6px;overflow: hidden;border: 1px solid #dbdbdb;margin-bottom: 10px}
#footer{
    width: 958px;height:78px;border:1px solid #dbdbdb;background: #f9f9f9;border-radius: 6px;margin: 0 auto;}

.options .nav{
    height: 34px;
    position: relative;
}
.options .nav li{
    width: 172px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    position: relative;
}
.options .nav .active{
    width: 172px;
    height: 34px;
    line-height: 34px;
    background: #FFFFFF;
}
.options .con{
    width: 318px;padding:0 15px;border: 1px solid #dbdbdb;border-radius: 0 0 6px 6px;
    top: 34px;left: 0;
}

#header .city{float: left;padding: 5px 0 0 20px;}
#header .city a{display:inline-block;height: 18px;border-radius: 4px;box-shadow: 1px 1px 0 #ededed;
    border:1px solid #e5e5e5;padding: 0 7px;line-height: 18px;background: #FFFFFF;}
#header .city .active,#header .city .active:hover{color: #d60d03;background: #FFFFFF}
#header .city a:hover{background: #f1f1f1}
#header .link{float: right;line-height: 30px;padding-right: 20px;color: #d5d5d5;word-spacing: 4px}
#header .link a{color: #666;background: url("img/header_link_bg.gif")no-repeat 0 3px;padding-left: 20px}
#header .link a:hover{text-decoration: underline;}
#header .link .icon1{background-position: 0 3px}
#header .link .icon2{background-position: 0 -27px}

#nav ul{position: absolute;top: 10px}
#nav li{float: left;}
#nav li a{display: block;width: 66px;padding-top: 50px;text-align: center;background: url("img/nav_bg.png")no-repeat;color: #333}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0;}
#nav .bg3{background-position: -132px 0;}
#nav .bg4{background-position: -198px 0;}
#nav .bg5{background-position: -264px 0;}
#nav .bg6{background-position: -330px 0;}
#nav .bg7{background-position: -396px 0;}
#nav .bg8{background-position: -462px 0;}
#nav .bg9{background-position: -528px 0;}
#nav .bg10{background-position: -594px 0;}

#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;}
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}
#nav .nav_1{left: 11px}
#nav .nav_2{right: 11px}
#nav h1{width: 223px;height: 62px;margin:  0 auto;position: relative;top: 10px}

#search .bar{height: 64px;width:958px;border: 1px solid #c40d0e;position: absolute;top: 16px;left: -1px;
border-radius: 5px;background: #e21c01;box-shadow: 2px 3px 2px #e3e3e3;}
#search .menu{position: absolute;left: 226px;top: -27px;}
#search .menu li{float: left;width: 78px;height: 25px;margin-right: 1px;display: inline-block;border: 1px solid #f8d0bf;
    border-bottom:none;text-align: center;line-height: 25px;;font-size: 14px;cursor:pointer;border-radius: 5px 5px 0 0;
    box-shadow: 1px 0 2px rgba(176,176,176,.3);
}
#search .menu .active{position:relative;top:-1px;height: 27px;background: #e21c01;color: #fff;font-weight: bold;border:
   1px solid #e21c01;border-bottom:none;text-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
#search .img{width:163px;height:122px;background:url("img/search_img.png")no-repeat;position: absolute;left: 32px;top: -3px;z-index: 2;}

#search .form{position: absolute;z-index: 3;left: 226px;top: 32px;}
#search .form .text{width: 380px;height: 22px;padding: 0 12px;border: none;background: #fff1ef;border-radius: 3px;
float: left;margin-right: 10px;color: #ea7a7a;}
#search .form .btn{width: 63px;height: 26px;border:none;background: url("img/search_img.png")no-repeat -163px 0;float: left;}
#search .key_text{width: 206px;color: #fff;line-height: 18px;position: absolute;top: 30px;right: 36px;}
#search .key_text a {color: #fff;}
#search .key_text a:hover{text-decoration: underline;}

#search .update{width: 405px;height: 30px;left: 226px;position:absolute;bottom: 0;background: url("img/search_img.png")no-repeat -226px 8px;  }
#search .wrap{width: 336px;height: 30px;overflow: hidden;position: relative;left: 60px;}
#search .update ul{width: 336px;position: absolute;top: 0;left: 0;}
#search .update li{height: 30px;line-height: 30px}
#search .update a{color: #000}
#search .update strong{color: #d30703;font-weight: normal}
#search .update span{color: #999}
#search .triangle_up{top: 8px;right: 0;position: absolute;}
#search .triangle_down_red{top: 17px;right: 0;position: absolute}

.video_title{height: 42px;line-height: 42px;background: url("img/video_bg.gif")no-repeat 105px 10px;
font-size: 18px;color: #d90000;font-weight:normal;}
.video{margin-bottom: 13px;}
.video_list{padding-left: 75px;height: 78px;background: url("img/video_bg.gif") no-repeat 3px -47px;}
.video_list li{text-indent:14px;line-height:20px;background: url("img/dot.gif")no-repeat 5px center;}
.video_list li a{color: #4d4d4d;}
.video_list li a:hover{text-decoration: underline}

.nav li strong{color: #cc0d13;font-family: arial;font-size: 12px;}
.nav li span{color: #000;}
.nav .triangle_down_red,.nav .triangle_down_gray{top: 14px;right: 12px;position: absolute;}

.main_title{height: 40px;line-height: 40px;position: relative}
.main_title strong{color: #cc0d13;font-family: arial;font-size: 12px;}
.main_title span{color: #000;}
.main_title a{position: absolute;top: 15px;right: 0;}

.hot_list{height:374px;padding-top: 10px;position: relative}
.hot_list li{width: 318px;height: 108px;margin-bottom: 6px;background: url("img/hot_list_li_bg.gif");}
.hot_list .img{float: left;width: 106px;height: 86px}
.hot_list .img a{display: block;width: 104px;height: 84px;border: 1px solid #e6e6e6;}
.hot_list .img a:hover{border: 1px solid #929292;}
.hot_list .text{float: right;width: 190px;}
.hot_list h3{line-height: 24px;}
.hot_list h3 a{font-weight: normal;color: #bb0d0d;}
.hot_list p{line-height:16px;color: #6e6e6e}
.hot_list .more{position: absolute;bottom:6px;right: 0;}

.tab{height: 25px;border-bottom: 1px solid #dadada;}
.tab ul{height: 26px;margin-bottom: -1px;position: relative;}
.tab li{position:relative;float: left;height: 24px;text-align:center;line-height:24px;color:#666;border: 1px solid #dadada;border-radius: 4px 4px 0 0;margin-right: -1px;}
.tab .active{border-bottom: 1px solid #fff;background: #fff;font-weight: bold;color: #454545;}

.section .tab{padding: 0 10px}
.section .tab li{width: 98px}
.section .tab li a{top: 10px;right: 14px;position: absolute;}
.side_section .tab{padding: 0 6px}
.side_section .tab li{width: 66px}
.side_section .tab li a{top: 10px;right: 10px;position: absolute;}

.list_section{}
.list_section li{height: 27px;line-height: 27px;border-bottom: 1px dotted #dadada;
    background:url("img/dot.gif")no-repeat 5px center;}
.list_section li a{float:left;color: #333;text-indent: 14px; }
.list_section li a:hover{text-decoration: underline;}
.list_section li a em{color: #c3c3c3;}
.list_section li a span{color: #c75d61;}

.list_section .col1,.list_section .col2,.list_section .col3{float: left;}
.list_section .col1,.list_section .col2{text-align: center}
.list_section .title{background: none;color: #999;}
.list_section .title .col1{text-align: center;}
.list_section .col1{width: 110px}
.list_section .col2{width: 50px}
.list_section .col3{width: 50px}
.list_section .color{color: #d80000;}

.wrap_section1{padding-bottom: 5px;}
.wrap_section2{padding-bottom: 2px;}
.wrap_section2 li{border-bottom: 1px dotted #dadada;padding-bottom: 10px;margin-bottom: 10px }
.wrap_section3{padding-bottom: 10px}
.wrap_section3 .pic_list{padding-bottom: 10px}
.wrap_section4 .pic_list{overflow: hidden}
.wrap_section4 .pic_list li{float: left;width: 107px;height: 150px}
.wrap_section4 .pic_list h3{line-height: 30px;}
.wrap_section50{padding-bottom: 10px}

.soso{height: 47px;border-top: 1px dotted #dadada;padding: 17px 0 0 10px;}
.soso strong,.soso .text,.soso .btn{float: left}
.soso strong{color: #595959;padding-top: 2px}
.soso .text{width: 172px;height: 20px;padding: 0 4px;border: 1px solid #9c9c9c;line-height: 20px;color: #9c9c9c;}
.soso .btn{width: 24px;height: 25px;background: url("img/btn.gif");border: none;margin-left: 10px}

.pic_list{}
.pic_list li{overflow: hidden}
.pic_list .img{width: 96px;height: 73px;position: relative;}
.pic_list .img a{display: block;width: 90px;height: 67px;padding: 2px;border: 1px solid #dadada;}
.pic_list .img a:hover{border: 1px solid #b80000;}
.pic_list .text{width: 108px}
.pic_list .text h3{}
.pic_list .text h3 a{color: #b80000;font-weight: normal;font-size: 12px;}
.pic_list .text h3 a:hover{text-decoration: underline}
.pic_list .text p{color: #999}
.pic_list .text p a{color: #666}
.pic_list .text p a:hover{color: #b80000;text-decoration: underline}

.new_title{height: 70px;position: relative;background: url("img/new_title_bg.gif")no-repeat right 0;}
.new_title span,.new_title strong{position: absolute;left: 24px;}
.new_title span{font-size: 24px;color: #333;top: 31px;font-weight: normal}
.new_title strong{font-size: 12px;font-family: arial;color: #ea2b31;top: 19px;}
.new_title em{font-size: 36px;font-weight: bold;color: #ec1c16;position:absolute;top: 16px;left: 125px;}

.activity{width: 348px;float: left;border-radius: 4px;border: 1px solid #dadada}
.recommend{width: 348px;float: right;border-radius: 4px;border: 1px solid #dadada}
.recommend .new_title{background-position:right -70px;}

.activity .img