*{
    margin: 0;
    padding: 0;
}
.wrap{
    margin:0 auto;
    width:1140px;
    height:1760px;
    background-color: rgba(238,238,238,1);
    border-radius: 8px;
    margin-top: 60px;
}
.main{
    margin:0 60px;
    width:1050px;
}
.main .title{
    display:block;
    position: relative;
    margin: 0 auto;
}
.main .title .title-1{
    display: block;
    font-size: 60px;
    font-family: "Helvetica Neue", Helvetica;
    line-height: 60px;
    margin-left: 190px;
    padding: 60px;
}
.main .title i{
    display: block;
    left: 300px;
    font-size: 25px;
    line-height: 30px;
    position: absolute;
    bottom:10px;
}
.main .img{
    background-color: white;
    width: 1035px;
    height: 660px;
    border-radius: 4px;
    border: 1px solid rgba(221,221,221,1);
    display: block;
}
.main .img img{
    margin-left: 5px;
}
.main .img p{
    font-family: "微软雅黑";
    font-size: 14px;
    margin-left: 65px;
    margin-top: 6px;
}
.main .list{
    width: 700px;
    margin-left: 180px;
    margin-top: 40px;
}
.main .list p{
    font-size: 24px;
    font-family: "微软雅黑";
    line-height: 24px;
}
.main .list ul{
    margin-left: 40px;
    margin-top: 20px;
}
.main .list li{
    font-size: 14px;
    font-family: "微软雅黑";
}
.main .list li span{
    font-weight: bolder;
}

.main .end{
    width: 700px;
    margin-left: 180px;
    margin-top: 20px;
}
.main .end p{
    font-family: "微软雅黑";
    font-size: 21px;
    padding-left: 20px;
}
.main .end i{
    font-family: "微软雅黑";
    font-size: 14px;
    padding-left: 20px;
    margin-top: 20px;
    display: block;
    color:rgba(119,119,119,1);
}
.main .end .Introduction{
    font-family: "微软雅黑";
    font-size: 22px;
    margin-top: 20px;
    display: block;
}
.main .end .Introduction a{
    text-decoration: none;
    color:rgba(51,122,186,1);
}
.footer{
    width:1140px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px solid rgba(238,238,238,1);
}
.footer p{
    padding: 12px 0 10px 0;
    font-family: "微软雅黑";
    margin-left: 420px;
    font-size: 15px;
}